@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --color-primario: #f2e6ff;
    --color-secundario: #400080;
    --color-terciario: #290033;
    --color-hover: #7300e6;

    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

.header{
    padding: 2% 0% 0% 0%;
}


body {
    background:var(--color-primario);;
}

.encriptador{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 8%;
}

.encriptador_contenido{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2.5rem;
}

.encriptador_contenido_caja{
    font-size: 2rem;
    font-family: var(--fuente-inter);
}

.encriptador_contenido_caja_input{
    font-size: 2rem;
    font-family: var(--fuente-inter);
    color: var(--color-secundario);
    border: none;
    border-color: var(--color-hover);
    background:none;
}

.botonesAccion{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-content: space-around;
    gap: 10% 2%;  
}

.encriptador_contenido_botonEncriptar{
    border: 3px solid var(--color-terciario);
    width: 150%;
    text-align: center;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primario);
    background-color: var(--color-secundario);
}

        .encriptador_contenido_botonEncriptar:hover{
            background-color: var(--color-hover);
        }



.encriptador_contenido_botonDesencriptar{
    border: 3px solid var(--color-terciario);
    width: 150%;
    padding: 6px;
    text-align: center;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primario);
    background-color: var(--color-secundario);
}

        .encriptador_contenido_botonDesencriptar:hover{
            background-color: var(--color-hover);
        }

.encriptador_contenido_botonBorrar{
    border: 3px solid var(--color-terciario);
    width: 150%;
    text-align: center;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primario);
    background-color: var(--color-secundario);
}

        .encriptador_contenido_botonBorrar:hover{
            background-color: var(--color-hover);
        }

.encriptador_contenido_botonCopiar{
     border: 3px solid var(--color-terciario);
      width: 150%;
      text-align: center;
      border-radius: 9px;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: var(--color-primario);
      background-color: var(--color-secundario);
}
        
      .encriptador_contenido_botonCopiar:hover{
           background-color: var(--color-hover);
       }

.avisoLetras{
    font-size: 1rem;
    font-family: var(--fuente-inter);
    color:#495057;
}

.resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    padding: 0% 20%;
    width: 100%;
}

.resultado_texto_cuadrado{
    display: flex;
    align-content: flex-end;
    align-items: flex-end;  
    justify-content: flex-end;
    position: absolute;
    height: 75%;
    width: 30%;
    border-radius: 9px;
    background-color: #fff9ff;
    border: 3px solid var(--color-secundario);
    z-index: -1;
}

.imagenBuscandoLupa{
    height: 70%;
    width: 70%;
}

.resultado_texto_disclamerNoEncontrado{
    font-size: 1.5rem;
    font-family: var(--fuente-inter);
    padding: 3% 0%;
    text-wrap: balance;
    z-index: 1;
    text-align: center;
}

.resultado_texto_mensajeDesencriptado{
    font-size: 1rem;
    font-family: var(--fuente-inter);
    word-break:break-word;
    text-wrap: wrap;
    height: 100px;
    width: 110%;
    text-align: center;
}